body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

/* add background image */
.header-container {
    background-image: url(images/donation1.jpg);
    background-size: cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.header-intro h1 {
    font-size: 55px;
    color: #eeefff;
}

.header-intro {
    text-align: center;
    padding: 12% 25%;
}

.header-intro p {
    color: #ffffff;
    padding: 0 40px;
    line-height: 1.4;

}

.button {
    background-color: #19e6e6;
    color: #333;
    padding: 14px 20px;
    border: none;
    margin-top: 25px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.container {
    margin-top: 100px;
}

.donate-detail {
    text-align: center;
    padding: 0 25%;
}

/* .donate-detail h2 { */
h2 {
    color: #555;
    font-size: 45px;
}

.donate-detail p {
    color: #222;
    font-size: 20px;
    line-height: 1.4;
}

.donation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.quantity {
    width: 80px;
    height: 70px;
    margin: 20px 10px;
    background-color: #eeefff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border-radius: 5px;
    color: #555;
}

.quantity h3 {
    font-size: 35px;
}

.quantity:nth-child(2) {
    color: #19e6e6;
    border: 2px solid #19e6e6;
}

.input-btn {
    display: block;
    text-align: center;
    margin-top: 60px;
}

.input-quantity input {
    width: 800px;
    height: 50px;
    outline: none;
    border: none;
    border-bottom: 1px solid #dadada;
    text-align: center;
    font-size: 20px;
}

.donate-plan {
   margin: 50px 150px;
}

.plan {
    padding: 50px 20px;
    margin: 0 10px;
    border-radius: 8px;
}

.first-plan {
    background-color: #fad0d0;
}

.second-plan, .third-plan {
    background-color: #eeeaaa;
}

.plan h4 {
    color: #222;
    font-size: 22px;
}

.plan p {
    line-height: 1.5;
    color: #444;
}

.news .news-form {
    text-align: center;
}

.news-form label {
    font-size: 35px;
    color: #223344;
}

.news-form select {
    width: 300px;
    height: 40px;
    font-size: 20px;
    margin-left: 15px;
    border: none;
    outline: none;
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.5), -1px 2px 3px rgba(0, 0, 0, 0.19);
    padding: 5px 0 0 5px;
    border-radius: 5px;
    color: #2159ab;
    cursor: pointer;
}

.news-detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.read-news {
    width: 20%;
    margin: 10px;
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.5), -1px 2px 3px rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: #fff;

}

.news-img img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.news-info {
    padding: 0 0 30px 15px;
}

.news-info p {
    line-height: 1.4;
    color: #666;
    font-size: 18px;
}

.news-info h5 {
    color: #444;
}
.news-info h1 {
    color: #666;
    font-weight: 300;
}

.link-btn {
    padding-top: 40px;
    font-weight: 700;
}

.link-btn a {
    color: #1cb2e8;
    text-decoration: none;
}

.link-btn a:hover {
    text-decoration: underline;
}

.update-text {
    text-align: center;
    padding: 0 25%;
}

/* subscribe field */
.subscribe-container {
    background-color: #daffff;
    text-align: center;
    margin: 4% 20%;
    padding: 70px;
    border-radius: 5px;
}

.subscribe-container input {
    padding: 12px 16px;
    width: 260px;
    height: 25px;
    border: none;
    outline: none;
    /* font-size: 18px; */
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #f5e2e2;
    color: #333;
}

.subs-btn {
    font-size: 16px;
    background-color: #1cb2e8;
    border: none;
    margin-left: -4px;
    padding: 15px 35px;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;

}

.footer {
    margin-top: 120px;
    padding: 45px 0 65px 0;
    background-color: #333;
    text-align: center;
}

.footer h3 {
    color: #afb8f0;
    font-size: 25px;
}

.footer p {
    color: #fff;
    font-size: 16px;
}